.contenedorImagen{
    width: 100%;
    height: 35rem;
    background-color: #541e35;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.conttieneBoton{
    display: flex;
    justify-content: end;
    align-items: center;
  }

.portada{
    height: 35rem;
    width: 80%;
}
.contieneTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6bb38e;
    padding-top: 1rem;
}
.contieneTitulo1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb43e;
    padding-top: 1rem;
}
.contanedorCarousel{
    background-color:#ffb43e;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}
.tituloHome{
    align-items: center;
    color:#541e35;
}
.carousel-wrapper {
    width: 520px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    border-radius: 20px;
    /* margin: 100px auto 20px; */
    margin-bottom: 2rem;
    background-color: aliceblue;
  }
  
  .carousel-container {
    width: 400px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .carousel {
    display: flex;
    width: 1200px;
    animation: sliding 12s infinite;
  }
  .carousel div {
    width: 400px;
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .carousel:hover {
    animation-play-state: paused;
  }
  .carousel .image-one {
    background-image: url("../img/2.png");
  }
  .carousel .image-two {
    background-image: url("../img/3.png");
  }
  .carousel .image-three {
    background-image: url("../img/4.png");
  }
  
  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-400px);
    }
    65% {
      transform: translateX(-400px);
    }
    70% {
      transform: translateX(-800px);
    }
    98% {
      transform: translateX(-800px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @media screen and (max-width: 768px) {
    .carousel-wrapper {
      width: 312px;
      height: 210px;
    }
  
    .carousel-container {
      width: 240px;
      height: 150px;
    }
  
    .carousel {
      width: 720px;
    }
    .carousel > div {
      width: 240px;
      height: 150px;
    }
  
    @keyframes sliding {
      30% {
        transform: translateX(0);
      }
      35% {
        transform: translateX(-240px);
      }
      65% {
        transform: translateX(-240px);
      }
      70% {
        transform: translateX(-480px);
      }
      98% {
        transform: translateX(-480px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  .uldeAbout {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 30rem;
   
  }
  .uldeAbout li {
    position: relative;
    list-style: none;
  }
  .uldeAbout li a {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 2rem;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  }
  .uldeAbout li a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 2s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
  }
  .uldeAbout li a:hover::before {
    width: 30rem;
    filter: drop-shadow(0 0 25px var(--clr))
  }

  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1139 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
figure.snip1139 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1139 img {
  max-width: 100%;
  vertical-align: middle;
}
figure.snip1139 blockquote {
  position: relative;
  background-color: #ffffff;
  padding: 25px 50px 25px 50px;
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1139 blockquote:before,
figure.snip1139 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1139 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1139 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1139 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}
figure.snip1139 .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}
figure.snip1139 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1139 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}
/* Demo purposes only */



/* Demo purposes only */

.contenedorTestimonios {
  background-color:#6bb38e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}